.contacts {
  &__list {
    @extend %list;
  }
  &__item {
  }
  &__link {
    @extend %link;

    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
  }
  &__icon {
    fill: var(--bg-light-color);
  }
}
