.logo {
  @extend %link;

  display: flex;
  align-items: center;
  gap: 20px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    color: var(--accent-color);
    // color: rgb(9, 255, 0);
    background-color: rgb(33, 178, 204);
    width: 50px;
    height: 50px;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
  }

  &__span {
    @media screen and (max-width: ($tablet - 1)) {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      //   font-weight: 400;
      font-size: 24px;
      // line-height: calc(42 / 32);
      color: var(--t-main-color);
    }
  }

  //   &__icon {
  //     fill: var(--accent-color);
  //     margin-right: 6px;

  //     @media screen and (min-width: $tablet) {
  //       margin-right: 10px;
  //     }
  //   }
}
